# gitignore file
.gitignore

# Dependency directory
node_modules
package-lock.json

# Typescript files
tsconfig.esm.json
tsconfig.cjs.json

# Code files
src/**/*.ts

# Test files
jest.config.js
test/**/*.ts