# gitignore file
.gitignore

# History files
HISTORY.md

# Dependency directory
node_modules
package-lock.json

# Typescript files
tsconfig.json

# Code files
src/**/*.ts

# Test files
jest.config.js
test/**/*.ts